body {
    display: flex;
    align-items: center;
    margin: 8px;
    font-family: 'Chakra Petch', sans-serif;;
    font-weight: 500;
    flex-direction: column;
    background-color: #f2f2f2; 
   
}

.exterior {
    margin: 30px 300px 0 300px;
    border: 3px solid black;
    padding: 10px 30px 10px 30px;
    flex: 1;
}

.heading { 
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 28px;
    font-family: "Edu TAS Beginner", cursive;
    /* border: 0.5px solid #f2f2f2; */
    border: 0.5px solid #f2f2f2;
}

.heading > div{
    flex:auto
}

#profile-pic {

    width: 250px;
    height: 250px;
    margin-top:30px;
    margin-right: 6.7%;
    border: 1.4px solid black;
    border-radius: 0%;
    object-fit: fit;
    position: relative;


    float: right;
}

.heading .role{
    display: inline-block;
    padding: 5.5px;
    border-radius: 10%;
    margin:0px;
    margin-bottom: 30px;
    font-size:18px;
}

.contact-symbol{
    
    position: relative;
    top:8px
    
}


.heading>p {
    margin-top: 0px;
    font-size: 97%;
    
}

h1 {
    margin-bottom: 150px;
    font-family: "GFS Didot", serif;
    font-size: 4.5rem;
    letter-spacing: 8px;
    word-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
}


.address{
    
    padding: 0 0 0 0;
    word-spacing: 0px;
    margin-top: 0;
    margin-bottom: -5.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.contact-me{
    display: inline-block;
    padding: 0 0 0 0;
    margin-top:0 ;
    word-spacing: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.socials{
    display: inline-block;
    padding: 0 0 0 0;
    margin:0;
    position:relative;
    top:6px;
    left:5px;
    word-spacing: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkedin{
    width: 10px;
    position: relative;
    right:30px;
    bottom: 2px;
}

.exterior a:link,.exterior a:visited{
    color:black;
    text-decoration: none;
}



.about-me {
    clear: both;
    text-align: justify;
}

hr{
    margin:34px 0;
    clear: both;
}

h2{
    margin-top:10;
}

.about-me > p{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


.work-ex{

    float: left;
    width: 47%;
}


.skills{
    float:right;
    width: 47%;

}

.education{
    clear: both;
    text-align: left;
   width:fit-content;
 
}

.line{
    clear: none;
    border-left: 1px solid black;
    height: 850px;
    width: fit-content;
    position: relative;
    left:50%    
    
}
a.project:link, a.project:visited {
    color: #f2f2f2;
    background-color: black;
    padding: 0 0.5%;

    text-decoration: none;
}


@media (min-width:1880px) {
    
    body {
        margin: 8px;
        align-items: center;
    }
    
    .exterior {
        width: 1257px
    }

}

@media (max-width:1530px) {
    

    .heading{
        clear: both;
    }

   span{
        display: block;
        width: 100%;
    }

}