body {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2; 
}

.exterior {
    margin: 30px 400px 0 400px;
    border: 3px solid black;
    padding: 10px 40px 10px 40px;
    flex: 1;
}

.heading { 
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 70px;
    font-family: "Edu TAS Beginner", cursive;
    /* border: 0.5px solid #f2f2f2; */
    border: 0.5px solid #f2f2f2;
}

.heading > div{
    flex:auto
}

#profile-pic {

    width: 250px;
    height: 250px;
    margin-top:30px;
    margin-right: 6.7%;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    right:px;

    float: right;
}

.heading .role{
    display: inline-block;
    padding: 5.5px;
    border-radius: 10%;
    margin:0px;
    margin-bottom: 30px;
    font-size:18px;
}

.contact-symbol{
    
    position: relative;
    top:8px
    
}

.heading>p {
    margin-top: 0px;
    font-size: 97%;
    
}

h1 {
    margin-bottom: 150px;
    font-family: "GFS Didot", serif;
    font-size: 4.5rem;
    letter-spacing: 8px;
    word-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
}


.address{
    
    padding: 0 0 0 0;
    word-spacing: 0px;
    margin-top: 0;
    margin-bottom: -5.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

.contact-me{
    display: inline-block;
    padding: 0 0 0 0;
    margin-top:0 ;
    word-spacing: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.socials{
    display: block;
    padding: 0 0 0 0;
    margin:0;
    word-spacing: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkedin{
    width: 10px;
    position: relative;
    right:30px;
    bottom: 2px;
}

a:link, a:visited{
    color:black;
    text-decoration: none;
}



.about-me {
    clear: both;
}